     /*	site:
        Desc:	main stylesheet 

        -----------------------------------------------------------------------------------------------------
                                        COLOR GUIDE
        -----------------------------------------------------------------------------------------------------
        basic scheme: dark grays
		*/
		
		:root {
			--backgroundColor: #0C0D0F;	/* woodsmoke 	rgba(12,13,15,1);		- off-black							*/
			--mainColor: 		#abb3be;	/*	cadet blue 		rgba(171, 179, 190, 1)	- lighter silvery blue				*/
			--secondary:		#a09c90;		/*	zorba 			rgba(160, 156, 144, 1)	- yellowish medium gray 		*/
			--highlight: 		#CDD5e0; 	/*	tiara				rgba(205, 213, 224, 1)	- light grayish silver 				*/
			--altColor:			#fff;
			--accentText: 		#c1bfb5; 		/*	yellowish off-white	*/
			--links: 			#829D80; 	/*	amulet 			rgba(130, 157, 128, 1) 	- medium grayish green			*/
			--titleColor:		#8EAAEC; 	/*bright blue*/
			--thirdColor:		#9AA8CB;	/* rock blue 		rgba(154, 168, 203, 1)	- slightly grayish bright blue 	*/
			--contactLink: 		#557753;	/* med green */
			--sectionBack: 		rgba(154, 168, 203, .15);  
			--highlightBack: 	rgba(171, 179, 190, .25);
			--contactBack: 		rgba(85,119,83,.65);
			--warningColor: 	#c53310;
			
			--borderRadius: 		.2rem;
			--boxShadow: 			1px 1px 1px rgba(0,0,0,0.5);
		}

		
		
		

    /*  -----------------------------------------------------------------------------------------------------
                                    COLOR GRADIENTS
        -----------------------------------------------------------------------------------------------------
    */

	

    /*  -----------------------------------------------------------------------------------------------------
                                    ANIMATIONS
        -----------------------------------------------------------------------------------------------------
    */
	@keyframes levitate {
		
		
	}
		
	@keyframes spin {
		from {transform:rotate(0deg);}
		to {transform:rotate(360deg);}
	}
		

	
	
	 
	/*  -----------------------------------------------------------------------------------------------------
                                    GENERAL  TYPOGRAPHY
		-----------------------------------------------------------------------------------------------------	*/
	* {
		color: var(--mainColor);		
	}
	*,
	.section .section_content .title {
		font-family: 'Proxima Nova', "Open Sans",Arial,sans-serif	
    }	
	.title {	
		color: var(--titleColor);
	}
	.link .text,
	.title,	
	p .moral,
	.section.what_i_do .box .box_header .box_title,
	.page_title {
		font-family: raleway, 'Open Sans',  sans-serif;		
	}	
	
	.copyright,	
	#intro .mantra .detail{
		font-family: 'Quattrocento', serif;
	}
	
	
	
	/*	------	TITLES	------	*/	
	
	.section_title {
		font-size: 2.5em;
		line-height: 1.5em;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: .05em;
		text-shadow: 0px 1px 2px rgba(255,255,255,.5);
	}
	.subtitle {
		font-size: 1.25rm;
		text-transform: uppercase;
	}
	.body_header .header_content {
		padding: 6px 15px;
		font-size: 1.1em;
		line-height: 1em;
	} 
	.sub_section_title {
		font-weight: 300;
		font-size: 1.75em;
		line-height: 2em;
		padding: 0 0 2px 0;
		text-align: center;
		text-transform: uppercase;
		color: var(--titleColor);
		letter-spacing: .15em;
		text-shadow: -1px -1px 1px rgba(0,0,0,0.35);
	}
	.content_title {
		font-family: helvetica, sans-serif;
		font-size: 1.5em;
		line-height: 1.5em;
	}
	
	
	
	
	
    /*  -----------------------------------------------------------------------------------------------------
                                    COMMON STYLES
        -----------------------------------------------------------------------------------------------------    */ 
    
	/*	------------	BUTTONS & LINKS 	------------	*/	
	.close_button {
		position: relative;
		display: inline-block;		
		font-size: 1.5rem;
		cursor: pointer;
		color: var(--contactLink);
		background: rgba(255,255,255,.1);
		padding: .1rem .05rem;
		border-radius: .25rem;
	}
	.close_button:hover {
		background: var(--warningColor);
		color: #fff;
	}
	.close_button:active {
		transform: translateY(1px);
	}
	.button {
		
	}
	
	.link {
		color: #17607B;
		position: relative;
		text-shadow: -1px -1px 1px rgba(0,0,0,0.15);
	}
	.link:hover {
		color: var(--titleColor);
	}
	.link:active {
		top: 1px;
	}
	
	 p .moral {
		display: block;
		text-align: right;
		font-size:  1.1rem;
		font-weight: 300;
		font-style: italic;
		color: #b99;
	}
	
	
	
	/*	------------	SPINNER	------------	*/		
	.spinner {
		position: fixed;
			left: 50%;
			top: 50%;
			z-index: -1;
		width: 5rem;
		height: 5rem;
		opacity: 0;
		transform: scale(.25) translate(-2.5rem, -2.5rem);
		transform-origin: 0 0;
		transition: z-index .65s, opacity .65s, transform .6s;
	}
	.spinner.show {
		opacity: .85;
		transform: scale(1)  translate(-2.5rem, -2.5rem);
			z-index: 1001;
	}
	.spinner.show .spinner_content {
		display: inline-block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 2px solid transparent;
		border-top-color: #55788c;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;	;
	}

	.spinner .spinner_content:before,
	.spinner .spinner_content:after {
		content: "";
		position: absolute;
		border-radius: 50%;
		border: 2px solid transparent;
	}
	
	.spinner .spinner_content:before {
			top: 10%;
			left: 10%;		
		width: 80%;
		height: 80%;
		border-top-color: #a94848;
		-webkit-animation: spin 3s linear infinite;
		animation: spin 3s linear infinite;
	}
	.spinner .spinner_content:after {
			top: 20%;
			left: 20%;		
		width: 60%;
		height: 60%;
		border-top-color: #638877;
		-webkit-animation: spin 1.5s linear infinite;
		animation: spin 1.5s linear infinite;
	}
		
	
	.rise {
		transform:translateY(3rem) scale(.5);
		filter: blur(3px);
		transition: transform 1.25s, filter 1.25s;
		transition-delay: .25s;
	}
	.section.show .rise {
		transform:translateY(0) scale(1);
		filter: blur(0);
	}	
		
	
	
	
	/*	------------	SCROLL BAR (webkit)	------------	*/	
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	 
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		background: rgba(0,0,0,0.15);
		border-radius: 2px;
	}
	 
	::-webkit-scrollbar-thumb {
		border-radius: 4px;
		cursor: pointer;
		background: rgba(0, 118, 163, .4);
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5),
							2px 2px 5px rgba(0,0,0,0.3); 
	}
	::-webkit-scrollbar-thumb:hover {
		background: rgba(0, 118, 163, .5);
	}
	
	
	
	
	
    /*  -----------------------------------------------------------------------------------------------------
                                        FORM ELEMENTS
        -----------------------------------------------------------------------------------------------------
    */ 
	
	
	
    /*  -----------------------------------------------------------------------------------------------------
                                    BASIC PAGE LAYOUT
        -----------------------------------------------------------------------------------------------------    */ 

	body {
		background: #000;
		overflow: hidden;
		max-width: 1800px;
		margin: 0 auto;
	}
	.page_wrapper {
		position: relative;
			top: 4rem;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		background: var(--backgroundColor );		
		opacity: .1;
		filter: blur(6px);
		transition: opacity 1s, filter 1s;
	}
	.page_wrapper.ready {
		opacity: 1;
		filter: none;
	}
	
	.main_content {
		margin-top: 4rem;
		overflow; hidden;
	}	
	
	
	
	
	

	
    /*  -----------------------------------------------------------------------------------------------------
                                    MAIN CONTENT SECTIONS
        -----------------------------------------------------------------------------------------------------    */     
	.section {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		padding-top: 4rem;
		transform:translate(0,0);
		filter: blur(15px);
		background: var(--sectionBack);
		transition: transform .85s ease, opacity .85s, filter .85s;
	}	 
	
	.section.intro {
		transform:translate(-100%, -20%);
	}
	.section.whatido {
		transform:translate(-100%, 25%);		
	}
	.section.portfolio {
		transform:translate(100%, -35%);
	}
	.section.workshop  {
		transform:translate(100%, 75%);
	}
	.section.contact {
		transform:translate(-35%, -100%);
	}
	
	.section.show {
		transform:translate(0,0);
		filter: blur(0);
		opacity: 1;
		z-index: 10;
	}
	
	.section .background_image {
		position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;			
		opacity: .2; 
		filter: blur(3px);	
	}	
	.section.intro .background_image {						
		background: url(../images/me.png) repeat;	
		background-size: cover;
	}
	.section.workshop .background_image {						
		background: url(../images/workshop.jpg) repeat;	
		background-size: cover;
	}
	.section.contact .background_image {		
		background: url(../images/coffee_desk.png) repeat;	
		background-size: cover;
	}
	.section.portfolio .background_image {	
		background: url(../images/newyork.jpg) repeat;	
		background-size: cover;			
	}
	.section .section_header {
		padding: 1rem 0 0 0;
		text-align: center;
	}
	.section  .section_title {
		text-align: center;
		font-size: 1.35rem;
		font-weight: lighter;
		margin-top: 4rem;
		text-transform: uppercase;
	}
	.section .section_content .title {		
		font-family: raleway, sans-serif;
		font-size: 2.5rem;
		font-weight: 200;
		text-align: center;
		font-style: italic;
		padding: 2rem 0 1rem 0;
    }
	.section .section_body {
		position: relative;
		overflow: hidden;
		color: var(--highlight);
		height: 100%;
		overflow-Y: auto;		
		padding: 0 2%;
	}
	.section .section_content {
		height: 100vh;
		height: calc(100vh - 5rem);		
		margin: 0 auto;
		padding: 0 1rem;
		font-weight: lighter;
		width: 100%;
	}
		
	.section .slideout {
		position: absolute;
			top: 4rem;
			left: 100%;
			z-index: 100;
		height: calc(100vh - 4rem);
		width: 94vw;
		transition: left .5s ease-in-out;
		padding: 1rem 2rem;
	}
	.slideout.show {
		left: 2vw;
	}
	.slideout .slideout_content {
		position: relative;
		display: flex;
		width: 100%;
		height: 100%;
		width: 100%;		
	}
	.slideout .close_button{
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
	}
	
	
	
	
	
	
	
	
	
	.content_area  .content {
	}
	.content_area  .section_body p {
		line-height: 1.3em;
		position: relative;
	}
	.content_area  .content .moral {
		color: #f5f5f5;
		font-style: italic;
		display: block; 
		font-size: .9em;
	}
	
	
	
	

	
	


    /*  -----------------------------------------------------------------------------------------------------
                                    RESPONSIVE LAYOUT
        -----------------------------------------------------------------------------------------------------      
		default max width: 1200px
	*/
	
	@media (min-width:1730px) { 
		
		
		
	}
	
	@media (min-width:1199px) { /* desktop */ 
		
		
		
	}
	
	@media (max-width:1024px) { /* laptop, small desktop */ 
		
		
	}
	
	@media (max-width:960px) { /* tablet, smaller laptop / desktop */ 
		
	}
	
	@media (max-width:480px) { /* small tablet, large phone */ 
		
		
	}
	
	